.flexboxheader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #90AACB;
    height: 100px;
}
.flexboxheader h1{
    vertical-align: middle;
    
}
.flexboxSearch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.flexboxSearch div{
    padding: 0px 20px;
}
.flexBook {
    display: flex;
    flex-wrap: nowrap;
}
.flexboxFooter{
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    align-items: center;
}
.img_header {
    width: 100%;
    max-height: 250px;
    opacity: 0.7;
    
}
a {
    text-decoration: none;
    color: inherit;
    
}
a:hover {
    color: inherit;
}
.flexboxDashboard{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.flexboxDashboard .button{
    width: 300px;
    height: 200px;
    background-color: #90AACB;
    
    border-radius: 25px;
    font-size: 3rem;
}
.flexboxDashboard button{
    box-shadow: 15px 5px 5px #90AACB;
}
.btn-retard{
    width: 300px;
    height: 200px;
    background-color: #EF907C;
    font-size: 5rem;
    border-radius: 25px;

}
.flexboxIndex{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    margin: 50px 0px; 

}
.flexbox-forms{
    display: flex;
    justify-content: space-around;
}
.flexboxIndex img{
    height: auto;
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.flexboxIndex .presentation{
    max-width: 900px;
    width: 90%;
    height: auto;
}
.form-perso{
    background-color: #90AACB;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 350px;
    height: auto;
}
.container-book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FEF1E6;
    padding-top: 30px;
    
}
.bgBook{
    background-color: #F9D5A7;
    margin-top: 50px;
    border-radius: 20px;
    height: auto;
    width: 315px;
}
.align-center{
    text-align: center;
}
.br20px{
    border-radius: 20px;
}
.madiv{
    display: flex;
    flex-wrap: wrap;
    height:300px;
    overflow:auto;
}
.validity_habitant{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
.madivBook{
    height:150px;
    overflow:auto;
}
.detailBook{
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: auto;
    width: 90%;
    margin: 0px 5%;
}
.width100 {
    width: 100%;
}
.container-validation-recuperation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #CEE5D0;
    align-items: center;
}
.table_valid_book{
    width: 95%; 
    margin-left: auto;
    margin-right: auto;   
}
.table_valid_book td , .table_valid_book th{
    border : 1px solid;
    padding: 20px;
    margin: 20px;
    
}
.scroll{
    overflow: scroll;
    margin: 20px;
}
.table_historique{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    
}
.table_historique td ,.table_historique th{
    border : 1px solid;
    padding: 10px;
    margin: 10px;    
}
.table_historique td ,.table_historique th{
    display: table-cell;
}
.table_historique h5 , .table_historique th{
    font-size: 100%;
}

.tr-alert { 
    background-color : #EF907C;
}
.bg-navbar {
    background-color: #FFB085;
}
.btn_perso {
    background-color: #90AACB;
}
.presentation {

    margin: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.welcome {
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 30px;
    display: flex;
    align-items: baseline;
}
.presentation h2{
    font-size: 3rem;
    text-align: center;
}
.presentation p{
    font-size: 1.5rem;
    vertical-align: middle;
}
@media (max-width: 700px) { 
    .detailBook{
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 20px;
        height: auto;
        width: 90%;
        margin: 0px 5%;
    }
    .presentation {

        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
}
.text-little {
    font-size: 0.9rem;
    font-style: italic;
}