.flexboxheader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #316B83;
    color: #D5BFBF;
    height: 100px;
}
.flexboxheader h1{
    vertical-align: middle;
    
}
a {
    text-decoration: none;
    color: inherit;
    
}
a:hover {
    color: inherit;
}
.flexboxIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    margin: 50px 0px; 

}
.flexboxIndex img{
    height: auto;
    max-width: 500px;
    width: 90%;
}
.flexboxIndex .presentation{
    max-width: 900px;
    width: 90%;
    height: auto;
}
.form-perso{
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 350px;
    height: auto;
}
.container-book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #8CA1A5;
    
}
.bgBook{
    background-color: white;
    border-radius: 20px;
    height: auto;
    width: 315px;
}
.align-center{
    text-align: center;
}
.br20px{
    border-radius: 20px;
}
.madiv{
    height:300px;
    overflow:auto;
}
.madivBook{
    height:150px;
    overflow:auto;
}
.detailBook{
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: auto;
    width: 90%;
    margin: 0px 5%;
}
.container-validation-recuperation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #CEE5D0;
    align-items: center;
}
.table_valid_book , td , th{
    border : 1px solid;
    padding: 20px;
    margin: 20px;
}
.table_valid_book{
    width: 95%;
}
.tr-alert { 
    background-color : #EF907C;
}
.bg-navbar {
    background-color: #D5BFBF;
}